{
    "branches": [
        "main",
        "next"
    ],
    "plugins": [
        [
            "@semantic-release/commit-analyzer",
            {
                "preset": "angular",
                "parserOpts": {
                    "noteKeywords": [
                        "BREAKING CHANGE",
                        "BREAKING CHANGES",
                        "BREAKING"
                    ]
                },
                "releaseRules": [
                    {
                        "type": "refactor",
                        "release": "patch"
                    },
                    {
                        "type": "docs",
                        "scope": "README",
                        "release": "patch"
                    },
                    {
                        "type": "ci",
                        "release": "patch"
                    },
                    {
                        "scope": "no-release",
                        "release": false
                    }
                ]
            }
        ],
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/changelog",
            {
                "changelogFile": "CHANGELOG.md"
            }
        ],
        [
            "@semantic-release/npm",
            {
                "npmPublish": false
            }
        ],
        [
            "@semantic-release/git",
            {
                "assets": [
                    "package.json",
                    "CHANGELOG.md"
                ],
                "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
            }
        ],
        [
            "@semantic-release/github",
            {
                "assets": [
                    {
                        "path": "dist/*.user.js",
                        "label": "IITC Shard Observer Plugin (User Script)"
                    },
                    {
                        "path": "dist/*.meta.js",
                        "label": "IITC Shard Observer Plugin (Meta Script)"
                    }
                ],
                "addReleases": "bottom"
            }
        ]
    ]
}
