#dialog-shards-observer {
    padding: 5px;
}

#dialog-shards-observer section {
    display: flex;
    flex-direction: column;
    height: 100%;
}

#dialog-shards-observer section main {
    flex-grow: 1;
    overflow-y: auto;
}

#dialog-shards-observer section footer {
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border-top: solid 1px #bbb;

    font-size: 0.6rem;
    font-family: monospace;
    color: #bbb;
}