name: Release Plugin

on:
    push:
        branches:
            - main

permissions:
    contents: read

jobs:
    release:
        runs-on: ubuntu-latest
        permissions:
            contents: write # to be able to publish a GitHub release
            issues: write # to be able to comment on released issues
            pull-requests: write # to be able to comment on released pull requests
            id-token: write # to enable use of OIDC for trusted publishing and npm provenance
        steps:
            - uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - uses: actions/setup-node@v4
              with:
                  node-version: "lts/*"

            - run: corepack enable
            - run: yarn install --immutable
            - run: yarn build:prod

            - name: Tag release
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
              run: yarn semantic-release

            - name: Upload Pages Artifact
              uses: actions/upload-pages-artifact@v3
              with:
                  path: dist

    deploy_plugin_to_gh_pages:
        needs: [release]
        runs-on: ubuntu-latest
        environment:
            name: github-pages
            url: ${{ steps.deployment.outputs.page_url }}
        steps:
            - name: Deploy to GitHub Pages
              id: deployment
              uses: actions/deploy-pages@v4
